header {
    display: flex;
    margin: 0 10vw;
    justify-content: space-between;
    align-items: center;
}

.nav {
    display: flex;
    gap: 70px;
    font-size: 25px;
    color: black;
    text-decoration: none;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

#redtxt {
    color: red;
    text-decoration: none;
}

#blacktxt {
    color: black;
    text-decoration: none;
}

.GAQ {
    padding: 15px 25px;
    color: white;
    border: 0;
    background-color: red;
    font-size: 1.3rem;
    text-decoration: none;
    margin: 5px 0px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}


.image {
    position: relative;
    /* background: #04207e; */
}

.image img {
    width: 100%;
    /* opacity: 0.8; */
}

.image .blue-filter {
    position: absolute;
    background-color: #04207e30;
    top: 0;
    left: 0;
    width: 100%;
    height: 824.24px;
}

.navofimg{
    position: relative;
    margin: 30px 0px;
}

#txtonimg {
    position: absolute;
    top: 0;
    left: 0;
    padding: 200px 500px;
    width: 45%;
}

#Discover {
    position: absolute;
    top: 0;
    left: 0;
    padding: 20px 40px;
    color: white;
    border: 0;
    background-color: red;
    font-size: 1.5rem;
    text-decoration: none;
    margin: 550px 850px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

#indserv {
    text-align: center;
    font-size: 3.5rem;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin: 150px 0px;
    color: rgb(5, 5, 80);
}

.services-container {
    margin: 100px 0;
}

.presentation-wrapper {
    display: flex;
    gap: 20px;
    justify-content: space-around;
    padding: 40px 200px;

    .description {
        display: flex;
        background-color: rgb(5, 5, 80);
        padding: 50px 100px;
        width: 40%;
        height: 25vh;
        align-items: center;
        color: white;
        font-size: 1.5rem;
        text-decoration: none;
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    }

    .header {
        display: flex;
        background-color: red;
        width: 20%;
        justify-content: center;
        align-items: center;
        padding: 50px;
        height: 25vh;
        color: white;
        font-size: 2rem;
        text-decoration: none;
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    }

}

.mission-wrapper {
    display: flex;
    padding: 0px 400px;
    margin: 0px -100px;
    .mission-item {
        color: rgb(13, 13, 73);

        .header {
            font-size: xx-large;
        }

        .more {
            color: red;
            text-decoration: none;
            text-transform: uppercase;
        }

        .mission-txt {
            font-size: x-large;
            width: 60%;
        }
    }
}

.under-mission-wrapper {

    .img2 {
        width: 100%;
        display: flex;
        position: absolute;
    }
    
    .img2txt {
        color: white;
        font-family: Georgia, 'Times New Roman', Times, serif;
        font-size: 2.5em;
        display: flex;
        position: absolute;
    }

    .bluebox2 {
        background-color: blue;

        display: flex;
        .img3 {
            width: 100%;
            /* margin: -100px 0px; */
        }

        .img4 { 
            display: flex;
            width: 25%;
            height: 40%;
            /* margin: 150px -1650px; */
        }

        .img5 {
            display: flex;
            width: 25%;
            height: 40%;
        }
    }

    .services {
        position: absolute;

    }
}

.blue-filter2 {
    position: relative;
    background-color: #03144e62;
    width: 110%;
    height: 639px;
}


.services {
    display: flex;
    position: relative;
    width: 100%;
    height: 49vh;

    background: url("./za\ wod.png");

    .filter {
        position: absolute;
        width: 100%;
        height: 100%;
        background: #0000bf30;
        z-index: 2;
    }

    .content {
        display: flex;
        flex-direction: column;
        position: absolute;
        z-index: 3;
        width: 100%;
        justify-content: space-center;
        align-items: center;

        header {
            color: white;
            font-size: 2.5em;
            font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        }

        .services_list {
            display: flex;
            gap: 60px;
            .service_item {
                width: 20%;
                background: white;
                padding: 35px 50px;
            }

        }
    }
}

.cardbackground {
    background: rgb(3, 3, 83);
    height: 1500px;

    .cards-container {
        position: relative;
        display: flex;
        gap: 500px;
        justify-content: center;
        align-items: center;     
    }

    .card {
        position: relative;
        background-color: #f9f9f9;
        margin: 200px 0px;
        padding: 20px;
        width: 400px;
        height: 200px;
        text-align: center;
        justify-content: center;
        align-items: center;
        padding: 150px 0px;
        color: rgb(3, 3, 83);
    }

    .photo {
        position: absolute;
        top: -20%;
        left: 23%;
    }

    .Contact {
        color: black;
        border-color: red;
        background-color: white;
        font-size: 1.8rem;
        text-decoration: none;
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        position: relative;
        margin: 0px 100px;
        padding: 15px 40px;
        width: 1000%;
    }

    .mail {
        display: flex;
    }

    .icon_mail {
        position: absolute;
        margin: 17.5px 260px;
    }

    .ViewPROJ {
    padding: 21px 38.203px;
    color: white;
    border: 0;
    background-color: red;
    font-size: 1.3rem;
    text-decoration: none;
    margin: 10px 0px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    }

    .Clients {
        color: white;
        font-size: 3em;
        text-align: center;
    }

    .Clientsimg {
        width: 100%;
    }
}







