header {
    display: flex;
    margin: 0 10vw;
    justify-content: space-between;
    align-items: center;
}

.nav {
    display: flex;
    gap: 70px;
    font-size: 25px;
    color: black;
    text-decoration: none;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

#redtxt {
    color: red;
    text-decoration: none;
}

#blacktxt {
    color: black;
    text-decoration: none;
}

.GAQ {
    padding: 15px 25px;
    color: white;
    border: 0;
    background-color: red;
    font-size: 1.3rem;
    text-decoration: none;
    margin: 5px 0px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}


.image {
    position: relative;
    /* background: #04207e; */
}

.image img {
    width: 100%;
    /* opacity: 0.8; */
}

.image .blue-filter {
    position: absolute;
    background-color: #04207e30;
    top: 0;
    left: 0;
    width: 100%;
    height: 824.24px;
}

.navofimg{
    position: relative;
    margin: 30px 0px;
}

#txtonimg {
    position: absolute;
    top: 0;
    left: 0;
    padding: 200px 500px;
    width: 45%;
}

#Discover {
    position: absolute;
    top: 0;
    left: 0;
    padding: 20px 40px;
    color: white;
    border: 0;
    background-color: red;
    font-size: 1.5rem;
    text-decoration: none;
    margin: 550px 850px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

#indserv {
    text-align: center;
    font-size: 3.5rem;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin: 150px 0px;
    color: rgb(5, 5, 80);
}

.presentation-wrapper {
    display: flex;
    gap: 20px;
    justify-content: space-around;
    padding: 40px 200px;

    .description {
        display: flex;
        background-color: rgb(5, 5, 80);
        padding: 50px 100px;
        width: 40%;
        height: 20vh;
        align-items: center;
        color: white;
        font-size: 1.5rem;
        text-decoration: none;
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        height: 200px;
    }

    .header {
        display: flex;
        background-color: red;
        width: 20%;
        justify-content: center;
        align-items: center;
        padding: 50px;
        height: 21vh;
        color: white;
        font-size: 2rem;
        text-decoration: none;
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    }

}

.mission-wrapper {
    display: flex;
    padding: 0px 400px;
    margin: 0px -100px;
    .mission-item {
        color: rgb(13, 13, 73);

        .header {
            font-size: xx-large;
        }

        .more {
            color: red;
            text-decoration: none;
            text-transform: uppercase;
        }

        .mission-txt {
            font-size: x-large;
            width: 60%;
        }
    }
}

#img2 {
    width: 100%;
    padding: 100px 0px;
}

